:root {
    --primary-color: #114752;
    --secondary-color: #262626;
    --highlight-color: #F04A29;
    --light-background: #E7E7E7;
    --title-font: 'Montserrat', sans-serif;
    --text-font: 'Nunito', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style: none !important;
    outline: 0 !important
}

body {
    font-weight: 400;
    font-family: var(--title-font);
    position: relative;
    overflow-x: hidden
}

img {
    width: 100%;
    height: auto
}

h1, h2, h3 {
    font-weight: 700
}

h1 {
    font-size: 70px
}

h2 {
    font-size: 50px
}

h3 {
    font-size: 35px
}

h4 {
    font-size: 30px
}

h5 {
    font-size: 25px
}

h6 {
    font-size: 18px
}

span {
    display: inline-block
}

.clear-fix {
    clear: both
}

.mt-10 {
    margin-top: 10px
}

.mt-20 {
    margin-top: 20px
}

.mt-100 {
    margin-top: 100px
}

.mb-10 {
    margin-bottom: 10px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-50 {
    margin-bottom: 50px
}

.mb-80 {
    margin-bottom: 80px
}

.no-padding {
    padding: 0 !important
}

.pb-10 {
    padding-bottom: 10px
}

.pb-20 {
    padding-bottom: 20px
}

.pb-30 {
    padding-bottom: 30px
}

.pb-50 {
    padding-bottom: 50px
}

.pb-100 {
    padding-bottom: 100px
}

.pt-10 {
    padding-top: 10px
}

.pt-20 {
    padding-top: 20px
}

.pt-30 {
    padding-top: 30px
}

.pt-100 {
    padding-top: 100px
}

p {
    line-height: 1.8;
    margin: 0;
    font-size: 16px;
    color: var(--secondary-color);
    font-family: var(--text-font);
}

.section-padding {
    padding: 80px 0
}

.section-heading h4 {
    font-weight: 100
}

a, a:focus, a:hover {
    color: inherit
}

.tc-title {
    position: relative;
    font-weight: 400;
    margin-bottom: 30px;
    padding-bottom: 20px;
    letter-spacing: 2px;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase
}

.tc-title:after {
    content: '';
    width: 70px;
    height: 1px;
    background: var(--primary-color);
    position: absolute;
    bottom: -1px;
    left: 0
}

.tc-title-center:after {
    content: '';
    width: 70px;
    height: 1px;
    background: var(--primary-color);
    position: absolute;
    bottom: -1px;
    left: calc(50% - 35px)
}

.hero .tc-title {
    width: 100%
}

.tc_name_title h4 {
    text-transform: uppercase
}

.tc_name_title {
    padding: 0;
    margin-bottom: 15px
}

.social-icon span {
    transition: all .5s;
    color: var(--primary-color)
}

.social-icon span:hover {
    background: var(--primary-color) !important;
    border-color: var(--secondary-color) !important;
    color: #fff !important
}

.profile-btns {
    float: right
}

a.about-button {
    display: inline-block;
    padding: 12px 10px;
    background: #333;
    color: #fff;
    text-transform: uppercase;
    border-radius: 40px;
    width: 140px;
    text-align: center;
    font-size: 12px;
    margin-right: 10px;
    -webkit-transition: .4s;
    font-weight: 700;
    transition: .4s;
    font-family: Open Sans
}

a.about-button:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: .4s;
    transition: .4s
}

.profile-btns a:last-child {
    background: var(--highlight-color)
}

.hero .social-icon {
    float: left
}

.navbar-default {
    padding: 20px 0 30px;
    background: 0;
    border: 0;
    border-radius: 0;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%
}

.nav-scroll {
    background: #111;
    height: 80px;
    line-height: 80px;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .5s;
    z-index: 99
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    font-weight: 600;
    font-size: 2.5vw;
    color: var(--primary-color)
}

.navbar-brand {
    padding: 4px 0;
    font-size: 18px;
    line-height: 20px;
    display: inline-block;
    text-transform: uppercase
}

.nav-scroll .navbar-brand {
    font-size: 40em !important;
    padding: 5px 0
}

h1.navbar-brand {
    transition: .2s
}

.navbar-default .navbar-nav > li > a {
    margin: 0 !important;
    color: var(--highlight-color) !important;
    padding: 0 !important
}

.navbar-default .navbar-nav > li > a:hover {
    color: var(--primary-color) !important
}

.navbar-default .navbar-nav > li {
    font-size: 16px;
    margin: 30px 20px 0;
    padding: 5px 10px;
    font-weight: 400;
    background: 0;
    cursor: pointer;
    position: relative
}

.navbar-default .navbar-nav > li > a.active {
    color: var(--primary-color) !important;
    background: 0
}

.tona-header {
    background-color: var(--light-background);
    height: 10vh;
    width: 100%;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    overflow-x: hidden !important
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5)
}

.caption {
    color: #fff;
    margin-left: 10%
}

.caption h1 {
    margin-bottom: 10px
}

.caption .type {
    position: relative
}

.caption h2 {
    display: inline-block;
    margin: 0 0 0 20px;
    font-weight: 600;
    padding-right: 20px
}

.caption span {
    font-weight: 100;
    font-size: 50px;
    color: #c49b66
}

.button-scroll {
    position: absolute;
    bottom: 15vh;
    left: calc(50% - 13px);
    width: 26px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #fff;
    cursor: pointer
}

.button-scroll span {
    height: 10px;
    width: 2px;
    position: absolute;
    left: calc(50% - 1px);
    background: #fff;
    -webkit-animation: scroll 1s infinite;
    -moz-animation: scroll 1s infinite;
    animation: scroll 1s infinite
}

@keyframes scroll {
    0% {
        top: 50%
    }
    25% {
        top: 55%
    }
    50% {
        top: 60%
    }
    75% {
        top: 55%
    }
    100% {
        top: 50%
    }
}

@-webkit-keyframes scroll {
    0% {
        top: 50%
    }
    25% {
        top: 55%
    }
    50% {
        top: 60%
    }
    75% {
        top: 55%
    }
    100% {
        top: 50%
    }
}

@-moz-keyframes scroll {
    0% {
        top: 50%
    }
    25% {
        top: 55%
    }
    50% {
        top: 60%
    }
    75% {
        top: 55%
    }
    100% {
        top: 50%
    }
}

.hero .social-icon span {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #eee
}

.hero .skills {
    margin: -30px 0 0;
}

.hero-img img {
    border-radius: 270px;
    width: 440px;
    height: 440px;
    object-fit: cover;
    box-shadow: 0 0 0 5px var(--primary-color);
    border: 5px solid #fff
}

.skill-items .skill-title span {
    font-size: 35px;
    color: var(--primary-color);
    margin-bottom: 30px
}

.skills .skills-progress {
    width: 100%;
    height: 2px;
    background: #eee;
    margin: 15px 0 0
}

.skills-progress span {
    width: 0;
    height: 100%;
    background: #c49b66;
    display: block
}

.numbers {
    padding: 100px 0;
    background-color: var(--light-background)
}

.numbers .num-items span {
    font-size: 40px;
    color: var(--primary-color)
}

.numbers .num-items p {
    font-size: 20px;
    margin: 20px auto
}

.numbers .num-items h6 {
    font-weight: 900;
    color: var(--secondary-color)
}

.services .services-items {
    overflow: hidden
}

.services-items {
    display: grid;
    grid: 100% / auto auto auto;
}

.services .services-items:first-child {
    border-bottom: 1px solid #eee
}

.services-items .item {
    padding: 40px
}

.services-items .bord {
    border-right: 1px solid #eee;
    border-left: 1px solid #eee
}

.services-items .item span {
    font-size: 40px;
    color: var(--primary-color)
}

.services-items .item h5 {
    margin: 20px 0
}

.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 4px;
    border-radius: 0
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #c49b66
}

#work {
    overflow: hidden
}

#work .filtering a {
    padding: 0 25px 0 20px;
    font-size: 16px;
    position: relative;
    cursor: pointer
}

#work .filtering .active, .filtering a:hover {
    color: #c49b66
}

#work .filtering a:after {
    content: "-";
    color: #111;
    position: absolute;
    right: 0;
    top: 0
}

#work .filtering a:last-child:after {
    content: " "
}

.work.section-padding {
    padding: 35px 0
}

.hire {
    background-color: var(--light-background)
}

.hire h3 {
    letter-spacing: 2px;
    font-weight: 100;
    margin-bottom: 30px
}

.hire button {
    padding: 7px 25px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    background: var(--highlight-color);
    border: 1px solid var(--primary-color);
    transition: all .5s
}

.hire button:hover {
    background: var(--primary-color)
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0)
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0)
    }
}

.work .item {
    margin-top: 5px;
    position: relative;
    height: 280px;
    overflow: hidden;
    background: #000;
    cursor: pointer
}

.work .item img {
    width: 100%;
    height: 275px;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
    object-fit: cover;
    position: relative;
    opacity: .8
}

.item a.electo {
    padding: 2em 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.date-outer .item img {
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s;
    -webkit-transform: scale(1.12);
    transform: scale(1.12)
}

.date-outer .item:hover img {
    opacity: .4;
    -webkit-transform: scale(1);
    transform: scale(1.1)
}

.date-outer.col-md-4.col-sm-4 {
    padding: 0 5px
}

.date-outer .item a.electo::before {
    position: absolute;
    top: 13px;
    right: 17px;
    bottom: 13px;
    left: 17px;
    border: 1px solid #c49b66;
    content: ''
}

.date-outer .item a.electo::before, .date-outer .item h2 {
    opacity: 0;
    -webkit-transition: opacity .35s, -webkit-transform .35s;
    transition: opacity .35s, transform .35s
}

.date-outer .item a.electo h2 {
    padding: 18% 0 20px;
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
    max-width: 205px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    font-family: Montserrat
}

.date-outer .item:hover a.electo::before, .date-outer .item:hover h2 {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.contactFooter {
    background-color: var(--light-background);
    padding: 35px 0 30px;
    color: #fdfdfd
}

.footerLeft {
    font-size: 14px;
    color: var(--secondary-color);
    text-transform: capitalize;
    font-weight: 100;
    text-align: center
}

.footerLeft a {
    color: var(--highlight-color);
    font-weight: 500;
}

.showpageNum a, .showpage a {
    margin: 0 4px
}

.widget .widget-item-control a img {
    width: 15px !important;
    height: 15px !important
}

.cloud-label-widget-content .label-size {
    background-color: #efefef;
    color: #a7a7a7 !important;
    margin: 0 7px 7px 0;
    display: block;
    float: left;
    padding: 2px 11px;
    font-size: 12px !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: 25px;
    text-transform: lowercase
}

.cloud-label-widget-content .label-size a {
    color: #a7a7a7 !important
}

.cloud-label-widget-content .label-size:hover {
    background-color: #222;
    color: #fff !important
}

.label-size:hover.label-size a {
    color: #fff !important
}

.Profile img {
    border: 1px solid #cecece;
    background: #fff;
    float: left;
    margin: 5px 10px 5px 0;
    padding: 5px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px
}

.showpageArea a {
    text-decoration: underline
}

.showpageNum a {
    text-decoration: none;
    padding: 7px 10px;
    font-size: 15px;
    color: #fff
}

.showpage a {
    text-decoration: none;
    padding: 7px 10px;
    color: #fff;
    font-size: 15px
}

.showpage a:hover {
    text-decoration: none
}

.showpageNum a:link, .showpage a:link {
    text-decoration: none;
    background-color: #000
}

#footer {
    display: inline-block
}

.footer {
    float: left;
    width: 32%
}

.footer h2 {
    font-size: 18px;
    letter-spacing: 1px;
    color: #FFF;
    margin-bottom: 19px;
    padding: 6px;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    text-align: center
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.footer li {
    margin: 0 0 0 15px;
    padding: 0 0 5px;
    text-transform: capitalize
}

.footer-credits .attribution a {
    font-style: italic
}

#footer a, .footer-credits a {
    text-decoration: none;
    color: #fff
}

#footer a:hover, .footer-credits a:hover {
    text-decoration: underline;
    color: #d4d4d4
}

.komhead h4 {
    position: relative;
    z-index: 2;
    height: 38px;
    color: #fff;
    padding: 0 12px;
    background-color: #444;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 38px;
    margin-bottom: 30px;
    box-shadow: 6px 6px 0 #e9e9e9
}

.komhead h4:before {
    content: "";
    border-top: 12px solid #e9e9e9;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    bottom: -16px;
    left: 30px
}

.komhead h4:after {
    content: "";
    border-top: 12px solid #444;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    bottom: -12px;
    left: 20px
}

@media screen and (max-device-width: 480px) {
    .comments .comments-content .comment-replies {
        margin-left: 0
    }
}

div#bc_0_1BR span:first-child {
    width: 100%
}

h2.date-header {
    display: none
}

@media only screen and (max-width: 550px) {
    .hero-img {
        width: 100% !Important
    }

    h1.navbar-brand {
        font-size: 25px !important
    }

    .nav-scroll .navbar-brand {
        font-size: 28px !Important;
        line-height: 25px !Important
    }
}

@media only screen and (max-width: 1350px) {
    .navbar-brand {
        margin-left: 25px !important
    }

    .hero-img img {
        width: 100% !important;
        height: inherit !important
    }
}

@media only screen and (max-width: 1200px) {
    .menu-area .container {
        width: 100%
    }

    .nav > li {
        padding: 0
    }

    .navbar-nav li a {
        padding: 15px 6px
    }
}

@media only screen and (max-width: 1000px) {
    .header-area {
        text-align: center
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav li a {
        padding: 15px 6px
    }

    .me-image {
        text-align: center
    }

    .portfolio-caption h4 {
        margin-top: 80px
    }
}

@media only screen and (max-width: 767px) {
    .navbar-toggle .icon-bar {
        background: #333
    }

    .navbar-toggle {
        margin-right: 0;
        margin-top: -30px
    }

    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        background: #1b1b1b
    }

    .navbar {
        min-height: 0
    }

    .mainmenu .navbar-nav li a {
        padding: 11px 15px
    }

    .menu-bg .mainmenu .navbar-nav li a {
        padding: 11px 15px
    }

    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height: 420px
    }

    .navbar-toggle {
        margin-top: -41px
    }

    a.about-button {
        margin-top: 0
    }

    .cd-headline span {
        font-size: 12px
    }

    .header-text h3 {
        font-size: 40px;
        letter-spacing: 3px
    }

    .navbar-nav {
        float: none;
        text-align: center
    }

    .navbar-nav li a:before {
        display: none
    }

    .section-title h2 {
        font-size: 20px
    }

    .contact_image .overlay .contact_info .item:nth-of-type(1), .contact_image .overlay .contact_info .item:nth-of-type(2) {
        margin-bottom: 0 !important
    }

    .hero-img {
        width: 75%;
        text-align: center;
        display: inline-block;
        margin: 0 auto
    }

    .hero-admin {
        text-align: center
    }
}

@media screen and (max-width: 960px) {
    .main-wrapper {
        margin-right: 0;
        width: 100%;
        padding: 0
    }
}

@media only screen and (max-width: 650px) {
    .date-outer .item figcaption::before {
        border: 0 !important
    }

    .some_stats_section .items .item {
        transform: scale(1) !important
    }

    .hero .social-icon {
        float: none !important;
        text-align: center;
        margin-bottom: 15px
    }

    .profile-btns {
        float: none !important;
        text-align: center
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-toggle {
        background: 0;
        margin-top: 24px;
        border: 0;
        margin-right: 20px
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background: 0
    }

    .navbar-default .navbar-toggle .icon-bar {
        background: #c49b66
    }

    .navbar-default .navbar-collapse {
        text-align: center;
        border: 0;
        background: #111;
        margin-top: 0 !important
    }

    .tona-header {
        background-position: 50% 0 !important
    }

    .caption {
        text-align: center;
        margin-left: 0
    }

    .caption h1 {
        font-size: 35px
    }

    .caption h2, .caption span {
        font-size: 30px
    }

    .hero .hero-item h4 {
        font-size: 20px
    }

    .hero-img, .skill-items, .num-items, .rel-img {
        margin-bottom: 80px
    }

    .portfolio .filtering span {
        padding: 0 15px 0 10px
    }

    .blog .to-blog p {
        letter-spacing: 2px
    }

    .side-bar {
        padding: 20px;
        margin: auto 15px
    }
}

@media (max-width: 991px) {
    .portfolio .item-img {
        width: 100%
    }

    .blog .post {
        margin-bottom: 30px
    }

    .date-outer .item a.electo h2 {
        max-width: 110px
    }

}