:root {
    --primary-color: #01758E;
    --secondary-color: #A86354;
    --highlight-color: #FFA521;
    --light-background: #E7E7E7;
    --title-font: 'Montserrat', sans-serif;
    --text-font: 'Nunito', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style: none !important;
    outline: 0 !important
}

body {
    font-weight: 400;
    font-family: var(--title-font);
    position: relative;
    overflow-x: hidden;
}

h1 {
    font-weight: 700;
    color: var(--primary-color);
    font-size: 25px;
    margin-bottom: 0;
}

h2 {
    color: var(--primary-color);
    font-size: 25px;
    margin-bottom: 0;
}

h3 {
    color: var(--primary-color);
    font-size: 20px;
    margin-bottom: 0;
}

h6 {
    font-weight: 700
}

span {
    display: inline-block
}

.clear-fix {
    clear: both
}

.content {
    margin-top: 10px;
}

.btn-outline-primary {
    color: var(--primary-color);
    background-color: #fff;
    border-color: var(--primary-color);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

p {
    line-height: 1.8;
    font-size: 16px;
    color: var(--secondary-color);
    font-family: var(--text-font);
}

p a {
    color: var(--highlight-color);
    font-weight: 500;
}

p a:hover {
    color: var(--primary-color);
    font-weight: 500;
}

.logo {
    width: 80%;
    max-width: 400px;
    margin: 70px auto 70px auto;
}

.tc-title {
    font-weight: 400;
    margin-bottom: 30px;
    padding-bottom: 20px;
    letter-spacing: 2px;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase
}

.tc-title:after {
    content: '';
    width: 70px;
    height: 1px;
    background: var(--primary-color);
    position: absolute;
    bottom: -1px;
    left: 0
}

.tc-title-center:after {
    content: '';
    width: 70px;
    height: 1px;
    background: var(--primary-color);
    position: absolute;
    bottom: -1px;
    left: calc(50% - 35px)
}

.bio .tc-title {
    width: 100%
}

.tc_name_title h4 {
    text-transform: uppercase
}

.tc_name_title {
    padding: 0;
    margin-bottom: 15px
}

.social-icon span {
    transition: all .5s;
    color: var(--primary-color)
}

.social-icon span:hover {
    background: var(--primary-color) !important;
    border-color: var(--secondary-color) !important;
    color: #fff !important
}

.profile-btns a:last-child {
    background: var(--highlight-color)
}

.navbar-light .navbar-nav > li > a {
    margin: 0 !important;
    color: var(--highlight-color) !important;
    padding: 0 !important
}

.navbar-light .navbar-nav > li > a:hover {
    color: var(--primary-color) !important
}

.navbar-light .navbar-nav > li {
    font-size: 16px;
    margin: 30px 20px 0;
    padding: 5px 10px;
    font-weight: 400;
    background: 0;
    cursor: pointer;
    position: relative
}

.bio {
    padding-top: 17vh;
}

.privacidade {
    padding-top: 17vh;
}

.bio .social-icon span {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #eee
}

.hero-img img {
    border-radius: 270px;
    width: 440px;
    height: 440px;
    object-fit: cover;
    box-shadow: 0 0 0 5px var(--primary-color);
    border: 5px solid #fff
}

.skill-items .skill-title span {
    font-size: 35px;
    color: var(--primary-color);
    margin-bottom: 30px
}

.destaques .num-items span {
    font-size: 40px;
    color: var(--primary-color)
}

.destaques .num-items p {
    font-size: 20px;
    margin: 20px auto
}

.destaques .num-items h6 {
    font-weight: 900;
    color: var(--secondary-color)
}

.services-items .item span {
    font-size: 40px;
    color: var(--primary-color)
}

.services-items .item h5 {
    margin: 20px 0
}

.contato h3 {
    letter-spacing: 2px;
    font-weight: 100;
    margin-bottom: 30px
}

.contato button {
    padding: 7px 25px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    background: var(--highlight-color);
    border: 1px solid var(--primary-color);
    transition: all .5s
}

.contato button:hover {
    background: var(--primary-color)
}

.work .item img {
    width: 100%;
    height: 275px;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
    object-fit: cover;
    position: relative;
    opacity: .8
}

.contactFooter {
    padding: 35px 0 30px;
    color: #fdfdfd
}

.footerLeft {
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 100;
    text-align: center
}

.footerLeft a {
    color: var(--primary-color);
    font-weight: 500;
}

.footerLeft a:hover {
    color: var(--secondary-color);
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .hero-img {
        width: 100% !Important
    }

}

@media only screen and (max-width: 1350px) {

    .hero-img img {
        width: 100% !important;
        height: inherit !important
    }
}

@media only screen and (max-width: 1200px) {

    .nav > li {
        padding: 0
    }

    .navbar-nav li a {
        padding: 15px 6px
    }
}

@media only screen and (max-width: 1000px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav li a {
        padding: 15px 6px
    }

    .portfolio-caption h4 {
        margin-top: 80px
    }
}

@media only screen and (max-width: 767px) {

    .mainmenu .navbar-nav li a {
        padding: 11px 15px
    }

    .menu-bg .mainmenu .navbar-nav li a {
        padding: 11px 15px
    }

    .cd-headline span {
        font-size: 12px
    }

    .header-text h3 {
        font-size: 40px;
        letter-spacing: 3px
    }

    .navbar-nav li a:before {
        display: none
    }

    .section-title h2 {
        font-size: 20px
    }

    .hero-img {
        width: 75%;
        text-align: center;
        display: inline-block;
        margin: 0 auto
    }

    .hero-admin {
        text-align: center
    }
}

@media screen and (max-width: 960px) {
}

@media only screen and (max-width: 650px) {
    .date-outer .item figcaption::before {
        border: 0 !important
    }

}

@media (max-width: 767px) {

    .bio .hero-item h4 {
        font-size: 20px
    }

    .portfolio .filtering span {
        padding: 0 15px 0 10px
    }

    .blog .to-blog p {
        letter-spacing: 2px
    }

}

@media (max-width: 991px) {

    .date-outer .item a.electo h2 {
        max-width: 110px
    }

}